# Cleaning Folha Dataset

In [49]:
import pandas as pd
import numpy as np
import html
import re
from datasets import Dataset, DatasetDict, load_dataset

pd.set_option('display.max_rows', 120)

## 1. Load Dataset and Overview

In [50]:
dataset_filepath = "../data/folha_2013_2023_raw.zip"
folha = pd.read_csv(dataset_filepath)
folha.head()

,title,text,date,category,subcategory,link
0,Feira de produtos e cultura ligada à maconha a...,Estandes produtores e importadores de óleos de...,2023-09-18 10:08:00,cotidiano,NaN,https://www1.folha.uol.com.br/cotidiano/2023/0...
1,Após Luva de Pedreiro indicar que pagaria pens...,"Na tarde de domingo (17), Luva de Pedreiro abr...",2023-09-18 08:40:00,celebridades,NaN,https://f5.folha.uol.com.br/celebridades/2023/...
2,Sabesp quer automatizar saneamento em todo o e...,A Sabesp está prestes a concluir um projeto-pi...,2023-09-18 10:00:00,mercado,NaN,https://www1.folha.uol.com.br/mercado/2023/09/...
3,Sons de S.Paulo: poluição sonora em Embu das A...,Sons de S.Paulo é uma série do Música em Letra...,2023-09-18 09:42:00,blogs,musica-em-letras,https://www1.folha.uol.com.br/blogs/musica-em-...
4,OMS cobra da China 'acesso total' para investi...,O diretor-geral da OMS (Organização Mundial da...,2023-09-18 09:49:00,equilibrioesaude,NaN,https://www1.folha.uol.com.br/equilibrioesaude...

In [51]:
# number of rows and columns
print(f"Rows: {folha.shape[0]}")
print(f"Columns: {folha.shape[1]}")

Rows: 1081495
Columns: 6

## 2. Checking columns

### 2.1. title

In [52]:
# NaN titles
print(f"NaN title rows: {folha['title'].isna().sum()}")
print(f"% NaN title rows: {folha['title'].isna().sum() / len(folha) * 100} %")

NaN title rows: 0
% NaN title rows: 0.0 %

In [53]:
# check for double spaces, tabs or line breaks
cond = folha['title'].apply(lambda x: str(x)).str.contains(r"  +|\t+|\n+")
folha.loc[cond, 'title']

356778     Morcheeba retorna ao Brasil para  Nublu Jazz F...
360086     ​    Para leitores, Carnaval de São Paulo sobr...
392740     Roberta Miranda reúne novatas em CD para mostr...
471964               Drops Olímpicos - Brasil  4X0 Dinamarca
480160     Vídeo mostra o momento em  que um dos atirador...
                                 ...
1034432    Parlamento grego aprova 2º pacote de leis para...
1034809    Grécia leva ao Parlamento novo pacote de ajust...
1035005    Grécia inicia o pagamento de  6,25 bilhões ao ...
1035984    Comissão da UE propõe empréstimo de curto praz...
1055341    Moradores esperam por obras públicas  na 'Ilha...
Name: title, Length: 3936, dtype: object

In [54]:
# check for double spaces, tabs or line breaks
folha.loc[cond, 'title'].tail(1).values[0]

"Moradores esperam por obras públicas  na 'Ilha da Paciência'"

### 2.2. text

In [55]:
# NaN text
print(f"NaN text rows: {folha['text'].isna().sum()}")
print(f"% NaN text rows: {folha['text'].isna().sum() / len(folha) * 100} %")

NaN text rows: 504760
% NaN text rows: 46.67243029325147 %

In [56]:
# check for double spaces, tabs or line breaks
cond = folha['text'].apply(lambda x: str(x)).str.contains(r"  +|\t+|\n+")
folha.loc[cond, 'text'].tail(1).values[0]

'DE SÃO PAULOVeja atrações culturais para curtir em São Paulo nesta quinta (5).Cirque du SoleilA companhia canadense Cirque\xa0 du\xa0 Soleil –que volta ao Brasil depois de quatro anos–\xa0apresenta o espetáculo \'Amaluna\', o\xa0primeiro com elenco majoritariamente feminino (65% dos atores são mulheres). Após passar por dez países, a turnê chega ao parque Villa-Lobos nesta quinta (5). Saiba mais sobre o espetáculo.Pq. Villa-Lobos - Av. Prof. Fonseca Rodrigues, 2.001, Alto de Pinheiros. 2.482 lugares. Ter. a sex.: 21h. Sáb.: 17h30 e 21h. Dom.: 16h e 19h30. Estreia 5/10. Até 17/12. Ingr.: R$ 250 a R$ 450 p/ tudus.com.br.                                       Mais                              \'Why the Horse?\'\xa0Texto: Fábio Furtado. Direção: Maria Alice Vergueiro. Com: Carolina Splendore, Robson Catalunha e Otávio Ortega. 50 min. 16 anos.\xa0A atriz Maria Alice Vergueiro encena pela centésima vez essa peça, que também dirige, em curta temporada no Teatro Oficina. Instigada pelo tema da morte, a atriz concebeu o espetáculo como uma encenação de seu último momento. Além da peça, as comemorações da centésima apresentação vão contar com uma intervenção, um pocket show de Celso Sim e a exibição do documentário "Górgona", que conta a trajetória da atriz a partir dos bastidores de um espetáculo protagonizado\xa0por ela.\xa0Teat(r)o Oficina - R. Jaceguai, 520, Bela Vista, região central, tel. 3106-2818. 300 lugares. Qui. a sáb.: 21h. Dom.: 20h. Estreia 5/10. Até 15/10. Ingresso: R$ 40.\'2 Filhos de Francisco\'\xa0A história de como Mirosmar (Zezé) e Welson (Luciano) Camargo, nascidos no interior de Goiás, se tornaram uma das duplas sertanejas mais importantes do país vai ser contada mais uma vez agora nos palcos.\xa0Comandado pelo mesmo diretor do filme lançado em 2005, que foi assistido por cerca de 5 milhões de pessoas, Breno Silveira, o musical "2 Filhos de Francisco" estreia nesta quinta (5).\xa0\xa0Teatro Cetip - R. dos Coropés, 88, Pinheiros tel. 4003-5588. 627 lugares. Qui. e sex.: 21h. Sáb.: 17h e 21h. Dom.: 16h e 20h. Estreia 5/10. Até 17/12. Ingresso: R$ 50\xa0a R$ 200, p/ ticketsforfun.com.br.\xa0Veja todas as estreias da semana.\'Blade Runner 2049\'\xa0Idem. EUA, 2017. Direção: Denis Villeneuve. Com: Ryan Gosling, Harrison Ford e Jared Leto. 164 min. 14 anos.\xa0Estrelado por Harrison Ford e Ryan Gosling, a sequência do clássico de 1982 se passa 30 anos depois dos primeiros eventos. Na trama, o agente K, da polícia de Los Angeles, descobre um segredo que pode levar a sociedade ao caos. A descoberta o leva a ter que buscar por Rick Deckard, um ex-agente Blade Runner que estava desaparecido há três décadas.\xa0Leia as críticas de Cássio Starling Carlos e de Thales de Menezes sobre o filme.\xa0Veja salas e horários de exibição.\'Churchill\'\xa0Idem. Reino Unido/EUA, 2017. Direção: Jonathan Teplitzky. Com: Brian Cox, Miranda Richardson e John Slattery. 106 min. 12 anos.\xa0Baseado em fatos reais, o longa retrata o que aconteceu horas antes da invasão da Normandia, durante a Segunda Guerra Mundial. Na ocasião, o primeiro-ministro britânico, Winston Churchill, colocou em prática o plano militar chamado Operação Overlord, decisiva para a vitória dos Aliados contra o Eixo.\xa0Leia a crítica do filme.\xa0Veja salas e horários de exibição.\'Na Praia à Noite Sozinha\'\xa0Bamui Haebyun-eoseo Honja. Coreia do Sul, 2017. Direção: Hong Sang-soo. Com: Kim Min-Hee, Young-hwa Seo e Jung Jae-young. 101 min. 14 anos.\xa0Uma famosa atriz coreana, após ter um relacionamento com um diretor de cinema casado, resolve passar um tempo na Alemanha. Ali, cogita a possibilidade do amante juntar-se a ela, como prometeu. De volta à Coreia, ela se retira para uma praia deserta. Passa então a refletir sobre a importância do amor na vida de uma pessoa. A protagonista Kim Min-hee venceu o prêmio de melhor atriz no Festival de Berlim 2017.\xa0Leia a crítica do filme.\xa0Veja salas e horários de exibição.Elba Ramalho\xa0A cantora paraibana\xa0mostra sucessos do álbum "Leão do Norte" (1996), no qual mergulha na obra de compositores nordestinos. Entram no repertório sucessos como "Chão de Giz" (Zé Ramalho), "Na Base Da Chinela" (Jackson do\xa0Pandeiro e R. Cavalcante) e "Treze de Dezembro" (Luiz Gonzaga e Zé Dantas Gil).\xa0Sesc Belenzinho - comedoria - R. Pe. Adelino, 1.000, Quarta Parada, região leste, tel. 2076-9700. 500 pessoas. Qui. (5) a sáb. (7): 21h30. 90 min. 18 anos. Estac. a partir de R$ 5,50. Ingresso: R$ 18 a R$ 60. Ingr. p/ sescsp.org.br.\xa0Tom Zé\xa0Para comemorar os 81 anos do cantor e compositor, o Sesc Pinheiros apresenta o projeto Estudando Tom Zé, que propõe shows e atividades que exploram o universo do artista. Nesta\xa0quinta (5), o baiano interpreta músicas do CD "Estudando a Bossa" (2008).\xa0Sesc Pinheiros - R. Pais Leme, 195, Pinheiros, tel. 3095-9400. Qui. (5) 21h. 90 min. 10 anos. Ingr.: R$ 12 a\xa0R$ 40. Ingr. p/ sescsp.org.br.\xa0Mês da Cultura Independente\xa0A 11ª edição do evento que enaltece a produção independente promove shows gratuitos em espaços públicos e privados da cidade ao longo de outubro. Nesta\xa0quinta (5), o CCSP sedia o projeto Bicho de Quatro Cabeças, que reúne as bandas Rakta, Bixiga 70, Metá\xa0 Metá e Hurtmold os grupos fazem improvisos e trocam de formação durante a apresentação. Acompanhe a programação em fb.com/mcifest.\xa0Bicho de Quatro Cabeças - CCSP - R. Vergueiro, 1.000, Paraíso, tel. 397-4002. Qui. (5): 19h. GRÁTISPedro Neves e Luíz Filíp\xa0Sob regência do português Pedro Neves, a Osesp executa a estreia mundial do concerto para violino Museu das Coisas Inúteis, do compositor gaúcho Celso Loureiro Chaves. Luíz Filíp, violinista brasileiro que integra a Filarmônica de Berlim participa da apresentação. No programa, há ainda a "Sinfonia n.1" de Beethoven.\xa0Sala São Paulo - Pça. Júlio Prestes, 16, Campos Elíseos, região central, tel. 3367-9500. 1.484 lugares. Qui.: 10h e 21h. 46 min. 7 anos. Ingresso: R$ 46 a R$ 213. Ensaio aberto (10h): R$ 10. Ingr. p/ 4003-1212 ou ingressorapido.com.br. \'Projeto Nebulosa\'\xa0Em uma tentativa de reproduzir a queda de uma nuvem do céu, a artista paulistana Edith\xa0 Derdyk amarrou 60 mil metros de linhas de algodão em volta das árvores do jardim da Oficina Cultural Alfredo Volpi. A instalação nasceu de um trabalho realizado em maio deste ano em um jardim a céu aberto na França.\xa0Oficina Cultural Alfredo Volpi\xa0- R. Américo Salvador Novelli, 416, Itaquera, região leste, tel. 2205-5180. Ter. a sex.: 10h às 21h30. Sáb.: 10h às 18h. Abertura 30/9. Livre. GRÁTIS\'Soma\'\xa0Em sua quarta individual na Galeria Triângulo, a paulistana Mariana Palma exibe pinturas, aquarelas e fotografias. No caso do último suporte, a artista cria, ao selecionar partes de diversas plantas em estado de decomposição e encaixá-las umas nas outras, espécies híbridas, resultado de cópulas hipotéticas.\xa0Casa Triângulo - R. Estados Unidos, 1.324, Jardim América, região oeste, tel. 3167-5621. Seg. a sáb.: 10h às 19h. Até 4/11. Livre. GRÁTISCatzo\xa0O pequenino bar de inspiração italiana abriu as portas em maio. A dica é se sentar em uma das poucas mesinhas na calçada e observar a praça Dom Orione enquanto beberica um dos dos drinques da casa –o gim-tônica Deserto tem cardamomo e água de rosas– ou uma das cervejas especiais da geladeira. Para beliscar, há petiscos como os dadinhos de tapioca.\xa0R. Treze de Maio, 772, Bela Vista, região central, tel. 99668-5626.\xa050 pessoas. Qui. a sáb.: 17h à 0h30. Drinque Deserto - 250 ml: R$ 22.Le Jazz Petit\xa0O estilo musical do nome do bar aparece na decoração e também serviu de inspiração para a carta de drinques: prove o Louis Armstrong, preparado com vodca, licor cítrico, xarope de cardamomo, suco de abacaxi, limão-siciliano e bitter de laranja. Danty Monteiro, filho do famoso mixologista Derivan de Souza, é o barman da casa, dos mesmos donos do vizinho Le Jazz Brasserie.\xa0R. dos Pinheiros, 262, Pinheiros, região oeste,\xa0tel. 2359-8141. 25 lugares. Seg. a qui.: 18h à 1h. Sex.: 17h à 1h. Sáb. e dom.: 14h à 1h. Drinque Negroni: R$ 35.\xa0Casa na Praia\xa0O bar atrai de executivos a turmas de jovens. No cardápio, há bons petiscos, com pescados e frutos do mar, como a porção de badejo empanado e a generosa casquinha de siri. Para se refrescar, há 50 sabores de sucos, além de caipirinhas, cervejas e chopes Heineken e Amstel.\xa0R. Dr. Amâncio de Carvalho, 329,\xa0Vila Mariana, tel. 5082-5002. 90 lugares. Seg. a dom.: 11h à 0h55.\xa0Cerveja Heineken - 355 ml: R$ 8,50.'

In [57]:
text = folha.loc[cond, 'text'].tail(10).values[0]
test = re.sub(r"\s+", " ", text)
test

'Tite escolheu o amistoso desta sexta (10) para testar os reservas para a Copa, mas o adversário acabou não ajudando. Com facilidade, o time misto do Brasil venceu o Japão, por 3 a 1, em Lille, no penúltimo amistoso do ano. Todos os gols da seleção foram marcados na fase inicial. O primeiro acabou contando com a ajuda do árbitro de vídeo, que apontou um pênalti sofrido por Fernandinho após o juiz pedir o auxílio da tecnologia. Com a falta confirmada, Neymar aproveitou a oportunidade e fez o seu oitavo gol na carreira contra os japoneses. Marcelo e Gabriel Jesus completaram a vitória. O gol dos japoneses foi marcado aos 17min do segundo tempo por Makino, que ganhou na cabeça de Jemerson. Com a vitória, a seleção manteve a invencibilidade diante do Japão. Nesta terça (10), o Brasil fará o último amistoso deste ano. Com todos os titulares, a seleção enfrentará a Inglaterra, em Wembley. No próximo ano, o treinador terá apenas dois jogos antes de decidir a lista dos convocados para a disputa do Mundial. Em março, a seleção enfrenta a Rússia e a Alemanha. Na fria Lille, Tite pediu para os jogadores encararem a partida como um partida de Copa. Mas a realidade foi bem diferente fora do campo. O anel superior do moderno estádio da cidade ficou fechado. Apenas 16.922 torcedores assistiram ao jogo. O público foi um dos menores da história da seleção. O estádio tem capacidade para 50 mil torcedores. O jogo foi realizado às 13h do horário francês por causa da televisão japonesa, que transmitiu o amistoso para o país no horário nobre. O Brasil começou pressionando e o gol não demorou a sair. Aos 7min, o árbitro de vídeo cumpriu a sua função. Ele marcou o pênalti numa disputa do volante Fernandinho com o adversário. A reação da torcida foi estranha. O jogo foi parado por quase um minuto até o árbitro de campo Bastien Benoit receber a confirmação do pênalti. Neymar bateu e fez o primeiro da seleção. Não demorou muito e o Brasil sofreu o segundo pênalti. Aos 15min, Gabriel Jesus foi derrubado dentro da área no tabela com o ex-santista. Neymar bateu o pênalti, mas o goleiro Eiji Kawashima defendeu, colocando a bola para escanteio. No lance seguinte, aos 17min, Marcelo fez o segundo da seleção. Com a direita, ele deu um belo chute de fora da área sem defesa para o japonês. Depois do segundo gol, o Japão tentou a reação. Os defensores brasileiros queriam sair jogando e davam chance para os adversários. A melhor oportunidade japonesa foi uma cobrança de falta quase perfeita de Yoshida. A bola bateu no travessão de Alisson. Mas a partida continuava fácil. Aos 35min, Jesus fez o terceiro. Ele aproveitou o cruzamento de Danilo, que recebeu passe de Willian. No intervalo, Tite mexeu no time. Ele colocou Cássio no lugar de Alisson. O Brasil continuava bem superior. Com o jogo fácil, Tite aproveitou para fazer novos testes. Aos 13min, ele Diego Souza e Alex Sandro. Eles substituíram, respectivamente, Jesus e Marcelo. O Japão descontou aos 17min, mas não conseguiu reagir. Com o resultado administrado, Tite ainda tirou Neymar e Willian para testar Douglas Costa e Taison. Aos 25min, o Brasil tinha em campo apenas um titular, o volante Casemiro. No final, Renato Augusto entrou no lugar de Giuliano.'

### 2.3. date

In [58]:
# NaN data
print(f"NaN date rows: {folha['date'].isna().sum()}")
print(f"% NaN date rows: {folha['date'].isna().sum() / len(folha) * 100} %")

NaN date rows: 503321
% NaN date rows: 46.539373737280336 %

### 2.4. category

In [59]:
# NaN categories
print(f"NaN category rows: {folha['category'].isna().sum()}")
print(f"% NaN category rows: {folha['category'].isna().sum() / len(folha) * 100} ")

NaN category rows: 0
% NaN category rows: 0.0

In [60]:
len(folha['category'].value_counts().sort_values(ascending = False))

120

In [61]:
# number of rows per category
folha['category'].value_counts().sort_values(ascending = False)

category
mercado                                            205893
colunas                                            129648
poder                                               95776
cotidiano                                           92004
esporte                                             83282
mundo                                               81757
ilustrada                                           73719
fsp                                                 35414
celebridades                                        32565
televisao                                           23787
opiniao                                             22806
paineldoleitor                                      16391
equilibrioesaude                                    15093
saopaulo                                            12349
tec                                                 10803
educacao                                             9113
colunistas                                           8610
internacional                                        8409
turismo                                              7732
ciencia                                              6332
sao-paulo                                            6265
blogs                                                6050
ilustrissima                                         5990
voceviu                                              5150
ambiente                                             4849
tv                                                   4798
comida                                               4523
grana                                                4493
folhinha                                             4356
empreendedorsocial                                   3994
bbc                                                  3976
sobretudo                                            3508
cinema-e-series                                      3172
musica                                               3099
cinema                                               2931
passeios                                             2686
banco-de-dados                                       2361
shows                                                2332
seminariosfolha                                      1995
restaurantes                                         1716
podcasts                                             1682
bichos                                               1674
humanos                                              1594
webstories                                           1456
teatro                                               1445
multimidia                                           1386
serafina                                             1382
equilibrio                                           1352
asmais                                               1104
ola                                                   977
viva-bem                                              916
o-melhor-de-sao-paulo                                 899
multitela                                             874
guloseimas                                            862
bares                                                 861
astrologia                                            817
mpme                                                  813
exposicoes                                            807
estilo                                                761
crianca                                               749
estranho                                              726
hoje                                                  716
noite                                                 701
nerdices                                              635
fofices                                               541
editorial                                             535
folha-100-anos                                        386
folha-social-mais                                     363
dw                                                    355
diversao                                              354
factoides                                             345
topofmind                                             312
infograficos                                          309
vice                                                  289
guia-de-livros-discos-filmes                          286
concertos                                             257
especial                                              223
bares-e-noite                                         179
maquina                                               169
treinamento                                           151
danca                                                 141
streaming                                             137
rfi                                                   135
mural                                                 129
saiunonp                                              102
cenarios-2017                                          86
indicadores                                            68
games                                                  67
folhateen                                              64
cenarios                                               61
treinamentocienciaesaude                               57
guia-de-livros-filmes-discos                           56
40a-mostra-de-cinema-internacional-de-sao-paulo        51
42a-mostra-internacional-de-cinema                     46
achados-elo                                            46
fronteiras-do-pensamento                               43
premio-f5                                              33
mulher                                                 32
top5                                                   28
41a-mostra-de-cinema-internacional-de-sao-paulo        20
ombudsman                                              17
independencia-200                                      16
euronews                                               16
agrofolha                                              15
amp                                                    10
dia-da-mulher                                          10
carnaval                                                9
noticia                                                 8
41a-mostra-internacional-de-cinema                      6
consumo-consciente                                      3
jogos                                                   2
agora                                                   2
contas-de-casa                                          2
2016                                                    1
deltafolha                                              1
afp                                                     1
personare                                               1
2022                                                    1
erramos                                                 1
2015                                                    1
Name: count, dtype: int64

In [62]:
# colunas x colunistas (seems to be the same thing)
print(folha.query("category == 'colunas'").iloc[2, -1])
print(folha.query("category == 'colunistas'").iloc[0, -1])

https://www1.folha.uol.com.br/colunas/painelsa/2023/09/construtoras-chinesas-farao-uma-das-maiores-pontes-do-pais.shtml
https://f5.folha.uol.com.br/colunistas/de-faixa-a-coroa/2023/09/mister-international-2023-brasileiro-fica-em-3o-e-tailandes-vence.shtml

In [63]:
# restaurantes x comidas (seems to be the same thing)
print(folha.query("category == 'restaurantes'").iloc[0, -1])
print(folha.query("category == 'comida'").iloc[1, -1])

https://guia.folha.uol.com.br/restaurantes/2023/09/festivais-fazem-degustacao-gratis-de-comida-e-bebida-coreanas-em-sp-veja-como-participar.shtml
https://www1.folha.uol.com.br/comida/2023/09/wine-tour-2023-tera-ator-juan-alba-e-degustacao-de-100-vinhos-em-sp.shtml

In [64]:
# cinemas-e-series x cinema x 42a-mostra-internacional-de-cinema x 41a-mostra-internacional-de-cinema (seems to be the same thing)
print(folha.query("category == 'cinema-e-series'").iloc[2, -1])
print(folha.query("category == 'cinema'").iloc[4, -1])
print(folha.query("category == '42a-mostra-internacional-de-cinema'").iloc[0, -1])
print(folha.query("category == '41a-mostra-internacional-de-cinema'").iloc[1, -1])

https://f5.folha.uol.com.br/cinema-e-series/2023/09/amazon-vai-estrear-serie-inspirada-do-filme-sr-e-sra-smith-em-2024-veja-detalhes.shtml
https://guia.folha.uol.com.br/cinema/2023/08/a-chamada-com-liam-neeson-e-gran-turismo-estreiam-nos-cinemas-de-sao-paulo.shtml
https://guia.folha.uol.com.br/42a-mostra-internacional-de-cinema/2018/10/vencedor-do-leao-de-ouro-e-documentario-sobre-eleitores-de-trump-sao-destaque-do-dia-na-mostra.shtml
https://guia.folha.uol.com.br/41a-mostra-internacional-de-cinema/2017/11/veja-tres-filmes-em-destaque-no-ultimo-dia-da-mostra-de-cinema.shtml

In [65]:
# sao-paulo x saopaulo x o-melhor-de-sao-paulo (seems to be the same thing)
print(folha.query("category == 'sao-paulo'").iloc[9, -1])
print(folha.query("category == 'saopaulo'").iloc[30, -1])
print(folha.query("category == 'o-melhor-de-sao-paulo'").iloc[12, -1])

https://agora.folha.uol.com.br/sao-paulo/2021/11/arvore-de-natal-na-ponte-estaiada-em-sp-sera-inaugurada-neste-sabado-27.shtml
https://www1.folha.uol.com.br/saopaulo/viaja-sp/melhores/2019/05/1987966-cvc-melhor-marca-de-turismo-e-agencia-de-viagem-online-investe-em-parcerias-com-grandes-eventos-como-o-rock-in-rio.shtml

https://www1.folha.uol.com.br/o-melhor-de-sao-paulo/2023/08/heinz-e-a-marca-preferida-de-ketchup-e-mostarda-dos-paulistanos.shtml

## 3. Clean Dataset

In [66]:
folha_filtered = folha.copy()

In [67]:
def group_categories(df):
    """
    Group similar categories into one.
    """
    df.loc[df['category'] == 'equilibrioesaude', 'category'] = 'equilibrio'
    df.loc[df['category'] == 'tv', 'category'] = 'televisao'
    df.loc[df['category'] == 'mundo', 'category'] = 'internacional'
    df.loc[df['category'] == 'cinema', 'category'] = 'cinema-e-series'
    df.loc[df['category'] == 'equilibrio', 'category'] = 'equilibrio-e-saude'

    return df

In [68]:
def clean_text(df, column):
    """
    Cleans text column, removing tabs, line breaks, double spaces, unicode and html strings. Removes NaN values.
    """

    # remove NaN values
    df.dropna(subset = column, inplace = True)
    
    if column != 'title':
        # remove duplicated column values
        df.drop_duplicates(subset=column, inplace=True)

    # remove tabs and line breaks
    df[column] = df[column].str.replace(r"\t+|\n+", "")

    # remove double spaces and strip
    df[column] = df[column].str.strip() \
                        .apply(lambda text: re.sub(r"\s+", " ", text))

    # remove html strings
    df[column] = df[column].apply(lambda text: html.unescape(text))

    return df

### 3.1. Filter categories

In [69]:
categories_to_drop = [
    "folhinha",
    "webstories",
    "seminariosfolha",
    "banco-de-dados",
    "sobretudo",
    "voceviu",
    "ilustrissima",
    "blogs",
    "colunistas",
    "sao-paulo",
    "saopaulo",
    "paineldoleitor",
    "opiniao",
    "ilustrada",
    "colunas",
    "fsp",
    "bbc",
    "passeios",
    "shows",
    "restaurantes",
    "bichos",
    "humanos",
    "teatro",
    "multimidia",
    "serafina",
    "asmais"
]

In [70]:
aux = pd.DataFrame(folha['category'].value_counts().rename('qtd').sort_values(ascending=False))
aux = aux.query("qtd > 1000").reset_index()
aux = aux.query("~category.isin(@categories_to_drop)")
filtered_categories = aux['category'].unique()
print(len(filtered_categories))
print(filtered_categories)

23
['mercado' 'poder' 'cotidiano' 'esporte' 'mundo' 'celebridades'
 'televisao' 'equilibrioesaude' 'tec' 'educacao' 'internacional' 'turismo'
 'ciencia' 'ambiente' 'tv' 'comida' 'grana' 'empreendedorsocial'
 'cinema-e-series' 'musica' 'cinema' 'podcasts' 'equilibrio']

In [71]:
print(f"Before filtering categories: {len(folha_filtered)}")
folha_filtered = folha_filtered.query("category.isin(@filtered_categories)").copy()
print(f"After filtering categories: {len(folha_filtered)}")

Before filtering categories: 1081495
After filtering categories: 707439

### 3.2. Clean text

In [72]:
def clean_dataset(df):
    """
    Pipeline to clean dataset.
    """
    print(f"Rows in dataset: {len(df)}")
    # cleans title
    df = clean_text(df, 'title')
    print(f"Rows in dataset after title cleaning: {len(df)}")

    # cleans text
    df = clean_text(df, 'text')
    print(f"Rows in dataset after text cleaning: {len(df)}")

    # group categories
    df = group_categories(df)
    print(f"Final categories: {len(df['category'].unique())}")

    return df

In [73]:
# clean and export
folha_filtered = clean_dataset(folha_filtered)

Rows in dataset: 707439
Rows in dataset after title cleaning: 707439
Rows in dataset after text cleaning: 354051
Final categories: 19

### 3.3. Filter texts with less than X characters

In [74]:
print(folha_filtered.shape)
folha_filtered = folha_filtered.loc[folha_filtered['text'].str.len() > 300]
print(folha_filtered.shape)

(354051, 6)
(351568, 6)

### 3.4. Filter Columns

In [75]:
folha_filtered = folha_filtered.loc[:, ["title", "text", "date", "category", "link"]]
folha_filtered.head()

,title,text,date,category,link
0,Feira de produtos e cultura ligada à maconha a...,Estandes produtores e importadores de óleos de...,2023-09-18 10:08:00,cotidiano,https://www1.folha.uol.com.br/cotidiano/2023/0...
1,Após Luva de Pedreiro indicar que pagaria pens...,"Na tarde de domingo (17), Luva de Pedreiro abr...",2023-09-18 08:40:00,celebridades,https://f5.folha.uol.com.br/celebridades/2023/...
2,Sabesp quer automatizar saneamento em todo o e...,A Sabesp está prestes a concluir um projeto-pi...,2023-09-18 10:00:00,mercado,https://www1.folha.uol.com.br/mercado/2023/09/...
4,OMS cobra da China 'acesso total' para investi...,O diretor-geral da OMS (Organização Mundial da...,2023-09-18 09:49:00,equilibrio-e-saude,https://www1.folha.uol.com.br/equilibrioesaude...
6,Agência de mineração mantém ativos processos e...,"Pesquisa da ONG Ekō, que monitora o comportame...",2023-09-18 10:00:00,ambiente,https://www1.folha.uol.com.br/ambiente/2023/09...

### 3.5. Check changes

In [76]:
def calculate_metrics(df):
    # calculate descriptive statistics
    metrics = df.groupby('category')['text'] \
                .apply(lambda x: x.str.len().describe()) \
                .reset_index()
    metrics = pd.pivot_table(
        metrics,
        values = "text",
        index = "category",
        columns = "level_1"
        ) \
        .add_suffix("_len_text") \
        .reset_index()
    
    # calculate percentage
    metrics.rename(columns = {'count_len_text' : 'count'}, inplace = True)
    pct = pd.DataFrame(df['category'].value_counts(normalize = True))

    # calculate mean title length
    mean_len_title = df.groupby('category')['title'] \
                       .apply(lambda x: np.mean(x.str.len())) \
                       .rename("mean_len_title") \
                       .round() \
                       .astype(int)

    # join metrics tables
    pct_mean_len_title = pct.join(mean_len_title)
    metrics = metrics.merge(
        pct_mean_len_title,
        left_on = "category",
        right_index = True
        )
    metrics['count'] = metrics['count'].astype(int)
    metrics = metrics[
        [
            "category", "count", "proportion", "mean_len_title", "25%_len_text", 
            "50%_len_text", "75%_len_text", "max_len_text", 
            "mean_len_text", "min_len_text", "std_len_text"
        ]
    ].sort_values(by = "count", ascending = False)

    return metrics

In [87]:
folha_filtered['text'].str.len().mean()

3215.8699739452964

In [77]:
metrics = calculate_metrics(folha_filtered)
metrics

,category,count,proportion,mean_len_title,25%_len_text,50%_len_text,75%_len_text,max_len_text,mean_len_text,min_len_text,std_len_text
12,mercado,62081,0.176583,69,2059.00,3130.0,4568.00,102232.0,3611.782011,301.0,2344.024511
15,poder,51268,0.145827,72,2280.00,3410.0,5193.00,215128.0,4040.614438,301.0,2995.517579
11,internacional,51261,0.145807,71,1684.00,2869.0,4492.00,50032.0,3439.617702,302.0,2413.283511
5,cotidiano,40372,0.114834,70,1882.00,2866.0,4314.25,37019.0,3321.019692,301.0,2011.308289
9,esporte,35237,0.100228,67,1448.00,2279.0,3419.00,57574.0,2721.576808,301.0,1886.698589
1,celebridades,32249,0.091729,74,895.00,1337.0,1862.00,20609.0,1576.714472,301.0,1202.729674
17,televisao,25743,0.073223,73,732.00,1242.0,2041.00,34127.0,1632.025755,301.0,1416.758075
8,equilibrio-e-saude,13690,0.038940,74,2759.00,4210.5,5914.75,31998.0,4687.155734,305.0,2799.590691
3,cinema-e-series,6099,0.017348,76,1273.00,1956.0,3560.50,52737.0,3082.180849,312.0,3513.257428
6,educacao,5145,0.014634,70,2466.00,3629.0,5023.00,33713.0,3939.360739,302.0,2084.014983
10,grana,4489,0.012769,59,2079.00,2544.0,3651.00,19345.0,3000.454890,348.0,1433.875368
16,tec,4099,0.011659,67,1419.00,2203.0,3874.00,42191.0,3067.759697,302.0,2634.118029
0,ambiente,3941,0.011210,73,2910.00,4239.0,5950.00,29845.0,4748.418422,339.0,2730.254752
2,ciencia,3645,0.010368,69,2579.00,3984.0,5475.00,28388.0,4404.812346,302.0,2761.669291
18,turismo,3635,0.010339,66,1614.50,2834.0,4766.00,74088.0,3588.002476,306.0,3110.611728
13,musica,3096,0.008806,78,1299.75,1768.0,2812.25,30008.0,2392.310078,312.0,1920.123850
7,empreendedorsocial,2372,0.006747,68,1546.25,2855.0,4367.50,40902.0,3287.980607,309.0,2474.032724
14,podcasts,1682,0.004784,72,1267.00,1461.0,1691.75,52362.0,1977.856124,467.0,4100.120422
4,comida,1464,0.004164,67,1317.00,2457.0,4153.50,20506.0,3035.036202,301.0,2230.689340

## 4. Export and push to hub

### 4.1. Export to CSV (.zip)

In [78]:
# Export file
filename = 'folha_2013_2023_clean_cats'
print(f"Exporting file {filename}")
compression_options = dict(method='zip', archive_name=f'{filename}.csv')
folha_filtered.to_csv(f'../data/{filename}.zip', compression=compression_options, index = False)

Exporting file folha_2013_2023_clean_cats

### 4.2. Export to Hub

In [79]:
# dataset_filepath = "../data/folha_2013_2023_clean_cats.zip"
# folha_filtered = pd.read_csv(dataset_filepath)
# print(folha_filtered.columns)
# print(folha_filtered.shape)

In [80]:
rename_dict = {
    'mercado':'Mercado',
    'poder': 'Poder',
    'internacional': 'Internacional',
    'cotidiano': 'Cotidiano',
    'esporte': 'Esporte',
    'celebridades': 'Celebridades',
    'televisao': 'Televisão',
    'equilibrio-e-saude': 'Equilibrio e Saúde',
    'cinema-e-series': 'Cinema e Séries',
    'educacao': 'Educação',
    'grana': 'Grana ou Dinheiro',
    'ambiente': 'Meio Ambiente',
    'tec': 'Tecnologia',
    'ciencia': 'Ciência',
    'turismo': 'Turismo',
    'musica': 'Música',
    'empreendedorsocial': 'Empreendedorismo Social',
    'podcasts': 'Podcasts',
    'comida': 'Comida'
}

folha_filtered['category_natural_language'] = folha_filtered['category'].map(rename_dict)
folha_filtered['category_natural_language'].unique()

array(['Cotidiano', 'Celebridades', 'Mercado', 'Equilibrio e Saúde',
       'Meio Ambiente', 'Poder', 'Internacional', 'Comida', 'Televisão',
       'Podcasts', 'Esporte', 'Educação', 'Música', 'Ciência',
       'Tecnologia', 'Cinema e Séries', 'Turismo',
       'Empreendedorismo Social', 'Grana ou Dinheiro'], dtype=object)

In [81]:
test = folha_filtered.sample(frac = 0.5, random_state = 42)
metrics_test = calculate_metrics(test)
metrics_test

,category,count,proportion,mean_len_title,25%_len_text,50%_len_text,75%_len_text,max_len_text,mean_len_text,min_len_text,std_len_text
12,mercado,30962,0.176137,69,2059.25,3135.0,4560.00,102232.0,3607.879982,302.0,2356.080177
15,poder,25525,0.145207,72,2293.00,3394.0,5155.00,140692.0,4014.814574,301.0,2805.441344
11,internacional,25459,0.144831,71,1696.00,2893.0,4521.50,50032.0,3469.560863,302.0,2468.730892
5,cotidiano,20271,0.115318,70,1873.00,2864.0,4319.00,32006.0,3319.308865,301.0,1998.524074
9,esporte,17724,0.100828,67,1447.00,2287.0,3435.00,57574.0,2733.883378,301.0,1925.340737
1,celebridades,16214,0.092238,74,899.25,1333.0,1863.00,20609.0,1572.406562,301.0,1184.996086
17,televisao,12840,0.073044,73,730.00,1240.0,2039.00,26027.0,1632.996729,301.0,1427.759321
8,equilibrio-e-saude,6861,0.039031,74,2752.00,4216.0,5884.00,29320.0,4675.042559,313.0,2784.824636
3,cinema-e-series,3056,0.017385,76,1288.00,1971.0,3655.75,52575.0,3108.136453,314.0,3504.757053
6,educacao,2672,0.015200,70,2416.75,3604.0,5044.75,22857.0,3927.519835,302.0,2086.659180
10,grana,2244,0.012766,59,2096.00,2569.0,3652.25,14293.0,3022.827986,348.0,1445.833718
0,ambiente,2033,0.011565,73,2887.00,4196.0,5957.00,29845.0,4735.329070,347.0,2750.369107
16,tec,2023,0.011508,67,1410.50,2219.0,3788.50,42191.0,3024.584775,302.0,2524.545402
2,ciencia,1877,0.010678,69,2561.00,3995.0,5481.00,25614.0,4404.337240,305.0,2750.436801
18,turismo,1767,0.010052,66,1622.50,2802.0,4783.00,30822.0,3546.880589,306.0,2679.348644
13,musica,1516,0.008624,78,1315.75,1758.5,2823.25,30008.0,2410.876649,312.0,1927.995040
7,empreendedorsocial,1175,0.006684,68,1533.50,2908.0,4347.00,40902.0,3316.290213,363.0,2614.088451
14,podcasts,833,0.004739,72,1262.00,1458.0,1680.00,49163.0,1901.086435,467.0,3790.783306
4,comida,732,0.004164,67,1361.25,2669.0,4427.50,20506.0,3168.750000,301.0,2326.291876

In [82]:
train = folha_filtered.loc[~folha_filtered.index.isin(test.index)]
metrics_train = calculate_metrics(train)
metrics_train

,category,count,proportion,mean_len_title,25%_len_text,50%_len_text,75%_len_text,max_len_text,mean_len_text,min_len_text,std_len_text
12,mercado,31119,0.177030,69,2059.00,3123.0,4575.50,68550.0,3615.664353,301.0,2331.999194
11,internacional,25802,0.146782,72,1672.00,2844.0,4466.75,41094.0,3410.072591,303.0,2356.970322
15,poder,25743,0.146447,72,2269.00,3428.0,5232.00,215128.0,4066.195820,301.0,3172.608765
5,cotidiano,20101,0.114351,70,1892.00,2870.0,4307.00,37019.0,3322.744988,303.0,2024.167110
9,esporte,17513,0.099628,67,1449.00,2272.0,3393.00,44172.0,2709.121967,304.0,1846.739332
1,celebridades,16035,0.091220,74,890.00,1341.0,1862.00,17042.0,1581.070471,301.0,1220.420746
17,televisao,12903,0.073403,73,735.00,1246.0,2044.00,34127.0,1631.059521,301.0,1405.779752
8,equilibrio-e-saude,6829,0.038849,74,2772.00,4202.0,5936.00,31998.0,4699.325670,305.0,2814.499348
3,cinema-e-series,3043,0.017311,76,1248.00,1941.0,3479.00,52737.0,3056.114361,312.0,3522.156937
6,educacao,2473,0.014068,70,2517.00,3653.0,5010.00,33713.0,3952.154468,365.0,2081.500473
10,grana,2245,0.012771,58,2064.00,2527.0,3650.00,19345.0,2978.091759,441.0,1421.792067
16,tec,2076,0.011810,67,1430.00,2177.5,3949.25,35093.0,3109.832370,305.0,2736.630045
0,ambiente,1908,0.010854,73,2963.50,4325.5,5944.75,24721.0,4762.365304,339.0,2709.309410
18,turismo,1868,0.010627,66,1605.25,2866.5,4718.00,74088.0,3626.900964,325.0,3469.854254
2,ciencia,1768,0.010058,68,2583.75,3961.5,5459.00,28388.0,4405.316742,302.0,2774.322801
13,musica,1580,0.008988,77,1293.75,1773.0,2773.50,23436.0,2374.495570,425.0,1912.982078
7,empreendedorsocial,1197,0.006809,69,1554.00,2817.0,4376.00,36499.0,3260.191312,309.0,2329.137891
14,podcasts,849,0.004830,72,1275.00,1466.0,1699.00,52362.0,2053.179034,581.0,4383.404606
4,comida,732,0.004164,67,1291.75,2302.0,3971.50,15086.0,2901.322404,303.0,2123.985729

In [83]:
train_dataset = Dataset.from_pandas(train[["title", "text", "date", "category", "category_natural_language", "link"]])
test_dataset = Dataset.from_pandas(test[["title", "text", "date", "category", "category_natural_language", "link"]])
train_dataset = train_dataset.remove_columns("__index_level_0__")
test_dataset = test_dataset.remove_columns("__index_level_0__")

In [84]:
folha_dataset = DatasetDict(
    {
        'train': train_dataset,
        'test': test_dataset 
    }
)

In [85]:
print(folha_dataset)

DatasetDict({
    train: Dataset({
        features: ['title', 'text', 'date', 'category', 'category_natural_language', 'link'],
        num_rows: 175784
    })
    test: Dataset({
        features: ['title', 'text', 'date', 'category', 'category_natural_language', 'link'],
        num_rows: 175784
    })
})

In [86]:
# folha_dataset.push_to_hub("iara-project/news-articles-ptbr-dataset")